@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import './button.css';
@import './navbar.css';
@import './background.css';
@import './inputs.css';
@import './position.css';
@import './colors.css';
@import './carousel.css';
@import './avaliacoes.css';
@import './utils.css';
/*
Propriedades da fonte:

font-size: 16px;
font-family: 'Ruda', sans-serif;
font-weight: 400;

*/

/* Configuração das cores */
:root {
    --bg-orange:         #f46a05;
    --bg-orange-hover:   #D85F08;
    --bg-black:          #000000;
    --bg-marrom-1:       #757575;
    --bg-marrom-2:       #F4F4F4;
    --bg-white:          #FFFFFF;
    --bg-yellow:         #FCB705;
    --bg-roxo:           #E9008C;
}
html, body {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 100%;
}